# Mobile
EXPO_PUBLIC_API_URL=http://localhost:3000/api
EXPO_PUBLIC_CAMPUS_LIFE_APP_URL=

# Server (Phase 2)
DATABASE_URL=postgresql://postgres:AB96DC85###@db.yoloxmdmzenimtztqfcp.supabase.co:5432/postgres
JWT_SECRET=7fea64efcb689916be98254d48b1249b34f028ec5a80a3af85de55b6b52b739f
FRONTEND_ORIGIN=
CORS_ORIGIN=http://localhost:8081
STORAGE_URL=
STORAGE_KEY=
STORAGE_SECRET=
